# Virtual environment
.venv/
venv/
env/

# Dataset (nặng, không cần đẩy lên GitHub)
Cat_Dog_data/

# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log